# os specific
.DS_Store

# Coverage directory used by tools like istanbul
coverage
.nyc_output
*.lcov

# Dependency directories
node_modules/

# generated output
dist
packages/**/*.js
packages/**/*.js.map
packages/**/*.d.ts
packages/**/*.d.ts.map

# wireit
.wireit/

# vscode
.vscode

#eslint
.eslintcache
